<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TRegistration</servlet-name>
        <servlet-class>TRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TLogin</servlet-name>
        <servlet-class>TLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTutorID</servlet-name>
        <servlet-class>LoadTutorID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTutorMS</servlet-name>
        <servlet-class>LoadTutorMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTutorPhoto</servlet-name>
        <servlet-class>LoadTutorPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterTutor</servlet-name>
        <servlet-class>AdminRegisterTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRejectTutor</servlet-name>
        <servlet-class>AdminRejectTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>AddSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetTimings</servlet-name>
        <servlet-class>SetTimings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorLogout</servlet-name>
        <servlet-class>TutorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPD</servlet-name>
        <servlet-class>SetPD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRequest</servlet-name>
        <servlet-class>StudentRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorAcceptStudent</servlet-name>
        <servlet-class>TutorAcceptStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorRejectStudent</servlet-name>
        <servlet-class>TutorRejectStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogout</servlet-name>
        <servlet-class>StudentLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentConfirmTutor</servlet-name>
        <servlet-class>StudentConfirmTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEditDetails</servlet-name>
        <servlet-class>StudentEditDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTutor</servlet-name>
        <servlet-class>RemoveTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudent</servlet-name>
        <servlet-class>RemoveStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TRegistration</servlet-name>
        <url-pattern>/TRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TLogin</servlet-name>
        <url-pattern>/TLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTutorID</servlet-name>
        <url-pattern>/LoadTutorID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTutorMS</servlet-name>
        <url-pattern>/LoadTutorMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTutorPhoto</servlet-name>
        <url-pattern>/LoadTutorPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterTutor</servlet-name>
        <url-pattern>/AdminRegisterTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRejectTutor</servlet-name>
        <url-pattern>/AdminRejectTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/AddSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetTimings</servlet-name>
        <url-pattern>/SetTimings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorLogout</servlet-name>
        <url-pattern>/TutorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPD</servlet-name>
        <url-pattern>/SetPD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRequest</servlet-name>
        <url-pattern>/StudentRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorAcceptStudent</servlet-name>
        <url-pattern>/TutorAcceptStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorRejectStudent</servlet-name>
        <url-pattern>/TutorRejectStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogout</servlet-name>
        <url-pattern>/StudentLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentConfirmTutor</servlet-name>
        <url-pattern>/StudentConfirmTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEditDetails</servlet-name>
        <url-pattern>/StudentEditDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTutor</servlet-name>
        <url-pattern>/RemoveTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudent</servlet-name>
        <url-pattern>/RemoveStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
